<!DOCTYPE html>
<html>
  <head>
  	<title>theAccepted.org | <%= @title %></title>
  	<%= csrf_meta_tag %> #prevents cross-site request forgery
  </head>
  <body>
  	<%= yield %>  #see notes below...
  </body>
</html>


# the "yield" line above (line 8 as of this note) inserts the contents of each page into the layout

